[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
python-decouple = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
django-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
djangorestframework = "*"
django = "*"

[dev-packages]
