.landing_container_first_section {
    display: flex; 
    margin: 0 0 102px 0; 
}

.landing_container_first_section_left {
    align-items: center; 
    display: flex; 
    flex-direction: column; 
    margin: 150px 0 0 10%; 
    text-align: center; 
    width: 40%; 
}

.landing_container_first_section_left h1 {
    color: #455358; 
    font-family: monospace; 
    font-size: 3.5rem; 
    font-weight: bold; 
}

.landing_container_first_section_left p {
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.625; 
}

.first_section_left_getstarted_button {
    font-family: monospace !important; 
    font-size: 20px !important; 
    font-weight: bold !important; 
}

.first_section_left_getstarted_button:hover {
    color:  #808080 !important; 
}

.first_section_image {
    border-radius: 10px; 
    height: 30%; 
    margin: 150px 0 0 10%; 
    width: 30%;  
}

.footer {
    align-items: center;
    background-color: #003366; 
    color: #fff; 
    display: flex; 
    flex-direction: column; 
    font-family: monospace; 
    justify-content: center; 
}

.footer span {
    font-size: 15px; 
    font-weight: bold; 
}
.footer span:first-child {
    font-size: 20px; 
    margin: 10px 0 0 0; 
}

.footer_socialmedia_icons img {
    width: 35px;  
}

.getstarted_button_modal_header {
    background-color: #003366; 
    border-radius: 0 !important; 
    justify-content: center !important; 
}

.getstarted_button_modal_header span {
    color: #fff; 
    font-family: monospace !important; 
    font-size: 20px;
    font-weight: bold !important; 
}

.getstarted_button_modal_body {
    border-radius: 0 !important; 
}

.modal-content {
    border-radius: 0 !important; 
}

.modal_div {
    display: flex; 
    flex-direction: column; 
    margin: 0 0 20px 0; 
}

.modal_div span {
    color: #696969; 
    font-family: monospace; 
    font-size: 20px; 
    font-weight: bold; 
    margin: 0 0 10px 0; 
}

.modal_div input {
    width: 75%; 
}

.modal_text {
    color: #000 !important; 
    font-size: 15px !important; 
    text-align: center; 
}

.modal_text span {
    color: #117a8b; 
    font-size: 15px !important; 
}

.getstarted_button_modal_signup_button {
    font-family: monospace;
    font-size: 20px !important;
    font-weight: bold !important;  
}

.getstarted_button_modal_footer {
    border: none !important; 
    padding: 0 !important; 
    margin: -10px 0 0 0; 
}

.getstarted_button_modal_footer span {
    font-family: monospace; 
    font-size: 15px; 
    font-weight: bold; 
    margin: 0 auto 20px auto; 
}

.getstarted_button_modal_login {
    color: #117a8b; 
}

@media (min-width: 1265px) {
  .landing_container_first_section {
    flex-direction: row !important
  }

  .landing_container_first_section_left {
    width: 50% !important;
  }

  .landing_container_first_section_left > h1,
  .landing_container_first_section_left > p {
    padding-left: 5rem !important;
  }
}