.create_quiz_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 10px 0 0 0;
    width: 78%;
}
.create_quiz_instructions {
    color: #003366;
    font-family: monospace;
    font-weight: bold;
    margin: 0 0 0 5%;
    text-align: justify;
    width: 80%;
}

.create_quiz_container input {
    border: 2px solid #003366;
    font-family: monospace;
    font-size: 20px;
    margin: 10px 0 0 5%;
    padding: 2px 2px 2px;
    width: 40%;
}

.create_quiz_container textarea {
    border: 2px solid #003366;
    font-family: monospace;
    font-size: 20px;
    margin: 20px 0 0 5%;
    resize: none;
    width: 80%;
}

.create_quiz_container_button {
    font-family: monospace;
    font-size: 20px !important;
    font-weight: bold !important;
    margin: 20px 0 0 5%;
    width: 20%;
}

.question_fieldset {
    margin: 10px 0 0 5%;
}

.question_fieldset div {
    margin: 0 0 10px 0; 
}

.question_fieldset div input:first-child {
    margin: 0;
    width: 2%;
}

.question_fieldset div input:nth-child(2) {
    margin: 0 0 0 2%;
}

.question_choices {
    margin: 0 0 0 2%;
}

.delete_question {
    font-family: monospace;
    font-size: 20px !important;
    font-weight: bold !important;
    margin: 0 0 0 5%;
}

.enable_disable_choice {
    font-family: monospace;
    font-size: 15px !important;
    font-weight: bold !important;
    margin: 0 0 7px 2%;
}
