.create_quiz_container {
    min-height: 100vh;
    margin: 10px 0 0 0;
    width: 78%;
}

.create_quiz_form {
    display: flex;
    flex-direction: column;
}

.create_quiz_instructions {
    color: #003366;
    font-family: monospace;
    font-weight: bold;
    margin: 0 0 0 5%;
    text-align: justify;
    width: 80%;
}

.create_quiz_container input {
    border: 2px solid #003366;
    font-family: monospace;
    font-size: 20px;
    margin: 10px 0 0 5%;
    padding: 2px 2px 2px 2px;
    width: 40%;
}

.create_quiz_container textarea {
    border: 2px solid #003366;
    font-family: monospace;
    font-size: 20px;
    margin: 20px 0 0 5%;
    resize: none;
    width: 80%;
}

.create_quiz_button {
    font-family: monospace;
    font-size: 20px !important;
    font-weight: bold !important;
    margin: 20px 0 0 5%;
    width: 20%;
}

.modal_message_header {
    background: #003366;
    border-radius: 0 !important;
    color: white;
    font-family: monospace;
    font-size: 20px;
    justify-content: center !important;
    text-align: center;
}

.modal_message_header h5 {
    font-weight: bold;
}

.modal_message_body {
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.okay_button {
    align-self: center;
    font-family: monospace;
    font-size: 20px !important; 
    font-weight: bold !important;
    margin: 0 0 10px 0;
    width: 25%;
}

.modal_success_container {
    display: flex;
    justify-content: center;
}

.yes_button {
    font-family: monospace;
    font-size: 20px !important;
    font-weight: bold !important;
    width: 25%;
    margin: 0 5% 10px 0;
}

.no_button {
    font-family: monospace;
    font-size: 20px !important;
    font-weight: bold !important;
    margin: 0 0 10px 0;
    width: 25%;
}
